<%= link_to('Back to Homepage', {controller: 'main', action: 'index'}) %>

<h1>Tasks#index</h1>

<% if @page == 1 %>
<h1>Task List</h1>
<% end %>
<ul>
    <% @task.each do |task| %>
    <li><%= task %></li>
    <% end %>
</ul>